.header {
  background-color:rgb(79, 70, 70);
  /* background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */
  width: 100vw;
  height: 10vh;
  display: flex;
  padding-top: 30px;
  /* justify-content: center; */
  /* align-items: center; */
  color:white;
  color: red;
  
}
.header a{
   display: flex;
  padding-left: 10%; 
 font-size: 20px;
 padding-top: 20px;
 color: white;
 text-decoration: none;
}
.header a:hover{
  color: red;
}